# NOTAS ACLARATORIAS DE MI CÓDIGO 

**¿Por qué se usa keep=False?** 

- línea 35 de mi código. `df_f[df_f.duplicated(subset="Loyalty Number", keep=False)].sort_values("Loyalty Number").head(10)`
duplicated() puede marcar como duplicados solo algunos elementos, dependiendo del argumento keep. 
Si quieres ver todas las filas que tienen un valor duplicado, no solo las repetidas a partir del segundo, necesitas mostrar también la “primera aparición”.
keep=False te garantiza eso.

- Ejemplo:
Valor A123 aparece 3 veces:
con keep="first" → solo marca la 2ª y 3ª
con keep=False → marca las 3